@use '../base-autocomplete.component.scss' as base-autocomplete;
.autocomplete-wrapper {
	position: relative;

	input[type="search"] {
		border: none;
		border-radius: 0;
	}
}

mat-chip-grid {
	margin-left: 0.5rem;
}

input.mat-mdc-chip-input{
	margin-left: 0;
}

.multi-autocomplete-wrapper {
	margin: 0 1rem;
	border: 1px solid rgba(0, 0, 0, 0.5);
	border-radius: 4px;
}

.multi-autocomplete-wrapper.light-theme {
	border: 1px solid rgba(255, 255, 255, 0.5);
	color: white;

	&:hover,
	&:focus-within {
		border-color: white;
		box-shadow: 0 0 2px white;
	}
}
