<div *ngIf="tvShow" id="main">
	<div id="details">
		<app-tmdb-img [alt]="tvShow.name" [src]="tvShow.poster_path" [title]="tvShow.name"/>
		<div id="details-right">
			<h2>{{tvShow.name}}</h2>
			<p>{{tvShow.tagline}}</p>
			<p>{{tvShow.overview}}</p>
			<ul id="detail-list">
				<li>
					<h3>{{ 'tvShowDetail.status' | translate }}</h3>
					<span>{{tvShow.status}}</span>
				</li>
				<li>
					<h3>{{ 'tvShowDetail.firstAirDate' | translate }}</h3>
					<span>{{tvShow.first_air_date | localeDate }}</span>
				</li>
				<li>
					<h3>{{ 'tvShowDetail.originalLanguage' | translate }}</h3>
					<span>{{tvShow.original_language | languageIso }}</span>
				</li>
				<li>
					<h3>{{ 'tvShowDetail.originalTitle' | translate }}</h3>
					<span>{{tvShow.original_name}}</span>
				</li>
				<li>
					<h3>{{ 'tvShowDetail.voteAverage' | translate }}</h3>
					<span>{{tvShow.vote_average | number:'1.0-1'}} ({{tvShow.vote_count}})</span>
				</li>
			</ul>
		</div>
	</div>

	<mat-tab-group [mat-stretch-tabs]="false" animationDuration="0ms">
		<mat-tab label="{{ 'tvShowDetail.cast' | translate }}">
			<app-credit-list [credits]="tvShow.credits.cast ?? []" [descFn]="descFnCast"></app-credit-list>
		</mat-tab>
		<mat-tab label="{{ 'tvShowDetail.crew' | translate }}">
			<app-credit-list [credits]="tvShow.credits.crew ?? []" [descFn]="descFnCrew"></app-credit-list>
		</mat-tab>
		<mat-tab label="{{ 'tvShowDetail.recommendations' | translate }}">
			<app-media-list [media]="recommendations ?? []" [showPaginator]="false"></app-media-list>
		</mat-tab>
		<mat-tab label="{{ 'tvShowDetail.similarTvShows' | translate }}">
			<app-media-list [media]="similarTvShows ?? []" [showPaginator]="false"></app-media-list>
		</mat-tab>
		<mat-tab label="{{ 'tvShowDetail.seasons' | translate }}">
			<mat-accordion>
				<mat-expansion-panel (opened)="selectSeason(season.season_number)"
									 *ngFor="let season of tvShow.seasons">
					<mat-expansion-panel-header collapsedHeight="auto" expandedHeight="auto">
						<div class="season-header">
							<app-tmdb-img [alt]="season.name" [size]="ImageSize.Small" [src]="season.poster_path"
										  [title]="season.name"/>
							<div>
								<h3 class="name">{{ season.name }}</h3>
								<p *ngIf="season.overview">{{ season.overview }}</p>
							</div>
						</div>
					</mat-expansion-panel-header>

					<ng-template matExpansionPanelContent>
						<ul *ngIf="getEpisodes(season.season_number) as episodes" class="episodes">
							<li *ngFor="let episode of episodes">
								<h4 class="name">{{ episode.name }}</h4>
								<ul class="details">
									<li *ngIf="episode.season_number && episode.episode_number">
										<span class="material-icons">tag</span>
										{{ 'tvShowDetail.season' | translate }} {{ episode.season_number }},
										{{ 'tvShowDetail.episode' | translate }} {{ episode.episode_number }}
									</li>
									<li *ngIf="episode.runtime > 0">
										<span class="material-icons">timer</span>
										{{ episode.runtime }} {{ 'tvShowDetail.minutes' | translate }}
									</li>
									<li *ngIf="episode.vote_average && episode.vote_count">
										<span class="material-icons">grade</span>
										{{ episode.vote_average }} ({{ episode.vote_count }})
									</li>
								</ul>
								<p>{{episode.overview}}</p>
							</li>
						</ul>
					</ng-template>
				</mat-expansion-panel>
			</mat-accordion>
		</mat-tab>
		<mat-tab label="{{ 'tvShowDetail.streamingServices' | translate }}">
			<app-watch-provider-list [watchProvidersResult]="watchProvidersResult"></app-watch-provider-list>
		</mat-tab>
	</mat-tab-group>
</div>
