#main {
	margin: 2rem auto;
	max-width: 72rem;
	padding: 1rem;

	& > h2 {
		margin-top: 3rem;
	}

	#details {
		display: flex;
		margin-bottom: 2rem;

		img {
			border-radius: 4px;
			box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
			height: 24rem;
			width: 16rem;
		}

		#details-right {
			flex: 1;
			margin: 1rem;

			#detail-list {
				display: grid;
				grid-column-gap: 1rem;
				grid-row-gap: 1rem;
				grid-template-columns: repeat(auto-fill, minmax(12rem, auto));
				list-style-type: none;
				padding-left: 0;

				li {

					h3 {
						font-weight: bold;
						margin-bottom: 0.25rem;
						opacity: 0.75;
						text-transform: uppercase;
					}

					h3 + span {
						display: block;
					}
				}
			}
		}
	}
}

.season-header {
	display: flex;

	app-tmdb-img {
		margin: 1rem 0;
		width: 8rem;
	}

	div {
		flex: 1;
		margin: 0 1rem 1rem 1rem;
	}
}

.episodes {
	list-style-type: none;
	padding-left: 0;

	& > li {
		border-top: 1px solid rgba(153, 153, 153, 0.2);
		padding-top: 1rem;
	}

	.name {
		font-weight: bold;
	}

	.details {
		list-style-type: none;
		padding-left: 0;

		li {
			align-items: center;
			display: inline-flex;

			span {
				margin-right: 1rem;
			}
		}

		li + li {
			margin-left: 2rem;
		}
	}
}
