<div *ngIf="tvShow" id="main">
	<div id="details">
		<img [alt]="tvShow.name + ' Poster'" [title]="tvShow.name" src="{{ posterBaseUrl + tvShow.poster_path }}"/>
		<div id="details-right">
			<h2>{{tvShow.name}}</h2>
			<p>{{tvShow.tagline}}</p>
			<p>{{tvShow.overview}}</p>
			<ul id="detail-list">
				<li>
					<h3>{{ 'tvShowDetail.status' | translate }}</h3>
					<span>{{tvShow.status}}</span>
				</li>
				<li>
					<h3>{{ 'tvShowDetail.firstAirDate' | translate }}</h3>
					<span>{{tvShow.first_air_date | date:'dd.MM.YYYY'}}</span>
				</li>
				<li>
					<h3>{{ 'tvShowDetail.originalLanguage' | translate }}</h3>
					<span>{{tvShow.original_language}}</span>
				</li>
				<li>
					<h3>{{ 'tvShowDetail.originalTitle' | translate }}</h3>
					<span>{{tvShow.original_name}}</span>
				</li>
			</ul>
		</div>
	</div>

	<mat-tab-group>
		<mat-tab label="{{ 'tvShowDetail.cast' | translate }}">
			<h2>{{ 'tvShowDetail.cast' | translate }}</h2>
			<div id="cast">
				<app-cast-list></app-cast-list>
			</div>
		</mat-tab>
		<mat-tab label="{{ 'tvShowDetail.recommendations' | translate }}">
			<h2>{{ 'tvShowDetail.recommendations' | translate }}</h2>
		</mat-tab>
		<mat-tab label="{{ 'tvShowDetail.seasons' | translate }}">
			<h2>{{ 'tvShowDetail.seasons' | translate }}</h2>
			<ul *ngIf="tvShow?.seasons" id="seasons">
				<li (click)="selectSeason(season.season_number)" *ngFor="let season of tvShow.seasons">
					<img [alt]="season.name" [title]="season.name" src="{{ posterBaseUrl + season.poster_path }}">
					<div>
						<h3 class="name">{{ season.name }}</h3>
						<p>{{ season.overview }}</p>
						<ul class="episodes">
							<li *ngFor="let episode of getEpisodes(season.season_number)">
								<span class="name">{{ episode.name }}</span>
								<span class="details">
									{{ 'tvShowDetail.season' | translate }} {{ episode.season_number }}
									{{ 'tvShowDetail.episode' | translate }} {{ episode.episode_number }}
									&bullet;
									{{ episode.runtime }} {{ 'tvShowDetail.minutes' | translate }}
									&bullet;
									{{ episode.vote_average }} ({{ episode.vote_count }})
								</span>
								<p>{{episode.overview}}</p>
							</li>
						</ul>
					</div>
				</li>
			</ul>
		</mat-tab>
	</mat-tab-group>
</div>
