<app-paginator *ngIf="media && media.length > 0 && showPaginator" [totalPages]="maxPages" [page]="page"
	(pageChange)="onPageChange($event)" />
<div class="media-list">
	<div *ngFor="let medium of media" class="medium">
		<app-tmdb-img [routerLink]="getMediaLink(medium)" [src]="medium.posterPath" [alt]="medium.name"
			[title]="medium.name" [size]="ImageSize.Medium" />
		<span class="name">{{ medium.name }}</span>
		<span class="date">{{ medium.releaseDate | localeDate }}</span>
	</div>
</div>
<app-paginator *ngIf="media && media.length > 0 && showPaginator" [totalPages]="maxPages" [page]="page"
	(pageChange)="onPageChange($event)" />
