<div *ngIf="movie" id="main">
	<div id="details">
		<app-tmdb-img [src]="movie.poster_path" [alt]="movie.title" [title]="movie.title"/>
		<div id="details-right">
			<h2>{{movie.title}}</h2>
			<p>{{movie.tagline}}</p>
			<p>{{movie.overview}}</p>
			<ul id="detail-list">
				<li>
					<h3>{{ 'movieDetail.genres' | translate }}</h3>
					<span>{{genreNames}}</span>
				</li>
				<li>
					<h3>{{ 'movieDetail.runtime' | translate }}</h3>
					<span>{{movie.runtime}}</span>
				</li>
				<li>
					<h3>{{ 'movieDetail.status' | translate }}</h3>
					<span>{{movie.status}}</span>
				</li>
				<li>
					<h3>{{ 'movieDetail.releaseDate' | translate }}</h3>
					<span>{{movie.release_date | localeDate }}</span>
				</li>
				<li>
					<h3>{{ 'movieDetail.originalLanguage' | translate }}</h3>
					<span>{{movie.original_language}}</span>
				</li>
				<li>
					<h3>{{ 'movieDetail.originalTitle' | translate }}</h3>
					<span>{{movie.original_title}}</span>
				</li>
				<li>
					<h3>{{ 'movieDetail.budget' | translate }}</h3>
					<span>{{movie.budget | currency:'USD'}}</span>
				</li>
				<li>
					<h3>{{ 'movieDetail.revenue' | translate }}</h3>
					<span>{{movie.revenue | currency:'USD'}}</span>
				</li>
				<li>
					<h3>{{ 'movieDetail.voteAverage' | translate }}</h3>
					<span>{{movie.vote_average | number:'1.0-1'}} ({{movie.vote_count}})</span>
				</li>
			</ul>
		</div>
	</div>

	<mat-tab-group [mat-stretch-tabs]="false" animationDuration="0ms">
		<mat-tab label="{{ 'movieDetail.cast' | translate }}">
			<app-credit-list [credits]="cast ?? []" [descFn]="descFnCast"></app-credit-list>
		</mat-tab>
		<mat-tab label="{{ 'movieDetail.crew' | translate }}">
			<app-credit-list [credits]="crew ?? []" [descFn]="descFnCrew"></app-credit-list>
		</mat-tab>
		<mat-tab label="{{ 'movieDetail.recommendations' | translate }}">
			<app-media-list [media]="recommendations ?? []"
							[showPaginator]="false"></app-media-list>
		</mat-tab>
		<mat-tab label="{{ 'movieDetail.similarMovies' | translate }}">
			<app-media-list [media]="similarMovies ?? []"
							[showPaginator]="false"></app-media-list>
		</mat-tab>
	</mat-tab-group>
</div>
