<div *ngIf="movie" id="main">
	<div id="details">
		<img src="{{ posterBaseUrl + movie.poster_path }}" [title]="movie.title" [alt]="movie.title + ' Poster'" />
		<div id="details-right">
			<h2>{{movie.title}}</h2>
			<p>{{movie.tagline}}</p>
			<p>{{movie.overview}}</p>
			<ul id="detail-list">
				<li>
					<h3>{{ 'movieDetail.genres' | translate }}</h3>
					<span>{{genreNames}}</span>
				</li>
				<li>
					<h3>{{ 'movieDetail.runtime' | translate }}</h3>
					<span>{{movie.runtime}}</span>
				</li>
				<li>
					<h3>{{ 'movieDetail.status' | translate }}</h3>
					<span>{{movie.status}}</span>
				</li>
				<li>
					<h3>{{ 'movieDetail.releaseDate' | translate }}</h3>
					<span>{{movie.release_date | date:'dd.MM.YYYY'}}</span>
				</li>
				<li>
					<h3>{{ 'movieDetail.originalLanguage' | translate }}</h3>
					<span>{{movie.original_language}}</span>
				</li>
				<li>
					<h3>{{ 'movieDetail.originalTitle' | translate }}</h3>
					<span>{{movie.original_title}}</span>
				</li>
				<li>
					<h3>{{ 'movieDetail.budget' | translate }}</h3>
					<span>{{movie.budget | currency:'USD'}}</span>
				</li>
				<li>
					<h3>{{ 'movieDetail.revenue' | translate }}</h3>
					<span>{{movie.revenue | currency:'USD'}}</span>
				</li>
				<div>
				</div>
			</ul>
		</div>
	</div>

	<h2>{{ 'movieDetail.cast' | translate }}</h2>
	<div id="cast">
		<app-cast-list></app-cast-list>
	</div>

	<h2>{{ 'movieDetail.recommendations' | translate }}</h2>

	<h2>{{ 'movieDetail.similarMovies' | translate }}</h2>
</div>