<header [class]="expanded ? 'expanded' : ''">
	<a [routerLink]="['/']">
		<h1>BIMDB</h1>
	</a>

	<a [routerLink]="['/movies']">{{'movies' | translate}}</a>
	<a [routerLink]="['/tv-shows']">{{'tvShows' | translate}}</a>

	<div id="lang-wrapper">
		<span class="material-icons">language</span>
		<select id="language-select" [value]="language" (change)="changeLanguage($event)">
			<option value="en">{{'language.english' | translate}}</option>
			<option value="de">{{'language.german' | translate}}</option>
		</select>
	</div>

	<a *ngIf="!isLoggedIn" (click)="login()">{{'login' | translate}} </a>
	<a *ngIf="isLoggedIn" (click)="logout()">{{'logout' | translate}} </a>

	<a [routerLink]="['search']" (click)="focusSearch()">
		<span id="header-search-icon" class="material-icons">search</span>
	</a>

	<span (click)="toggleExpanded()" class="material-icons" id="menu-toggle">menu</span>
</header>
