img, .alt-img {
	aspect-ratio: 2/3;
	border-radius: 4px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
	overflow: hidden;
	width: 100%;
}

.alt-img {
	align-items: center;
	background-image: linear-gradient(to right, #ff9800, #e91e63);
	color: white;
	display: flex;
	justify-content: space-around;

	span {
		display: block;
		font-size: 8rem;
	}
}
