.search-container {
	margin: 2rem;

	.search-wrapper {
		position: relative;

		.search-input-icon {
			line-height: 3rem;
			position: absolute;
			right: 0.5rem;
			bottom: 0;
		}

		input[type="search"] {
			margin-top: 1rem;
			background-color: transparent;
			border: 1px solid rgba(0, 0, 0, 0.5);
			border-radius: 4px;
			color: black;
			display: block;
			font-family: inherit;
			font-size: 1rem;
			height: 3rem;
			outline: none;
			padding: 0 2.5rem 0 1rem;
			transition: border-color 250ms, box-shadow 250ms;
			width: 100%;

			&::placeholder {
				color: rgba(0, 0, 0, 0.5);
			}

			&:hover,
			&:focus {
				border-color: black;
				box-shadow: 0 0 2px black;
			}
		}
	}
}

p {
	text-align: center;
}