.search-container {
	margin: 2rem;

	.search-wrapper {
		position: relative;

		.search-input-icon {
			line-height: 3rem;
			position: absolute;
			right: 0.5rem;
			bottom: 0;
		}

		input[type="search"] {
			line-height: 3rem;
			margin-bottom: 2rem;
			width: 100%;
		}
	}
}

p {
	text-align: center;
}
