/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

::-webkit-clear-button,
::-webkit-search-cancel-button {
    display: none;
 }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: rgb(51, 51, 51);
		color: white;
	}
}
